sql-injection-ui/node_modules
sql-injection-ui/.pnp
sql-injection-ui.pnp.js

/data/.dbeaver
/data/.project

**/HELP.md
sql-injection-api/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

sql-injection-api/.apt_generated
sql-injection-api/.classpath
sql-injection-api/.factorypath
sql-injection-api/.project
sql-injection-api/.settings
sql-injection-api/.springBeans
sql-injection-api/.sts4-cache

sql-injection-api/nbproject/private/
sql-injection-api/nbbuild/
sql-injection-api/dist/
sql-injection-api/nbdist/
sql-injection-api/.nb-gradle/
sql-injection-api/build/
!**/src/main/**/build/
!**/src/test/**/build/

**.vscode/
